

.bounce_background {
    max-width:80%;
    min-height: 300px;
    margin: auto;
    background-color: green;
    border-color: black;
}

div .ball {
    position: absolute;
    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background: radial-gradient(circle at 20px 100px, rgb(255,144,0), rgb(255 50	0));
}
